body {
	background-image: url('https://wallpaperaccess.com/full/31367.jpg');
}
h1 {
	text-align: center;
	color: white
}
p {
	text-align: center;
	color: white
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%
	
}

a {
	color:white
}

nav {
	color: white;
}